* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  width: 79%;
  margin: 0 auto;
  background: #1E1E1E;
}

a {
  text-decoration: none;
  color: rgb(228, 229, 234);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@media (max-width: 1100px) {
  body {
    width: 85%;
  }
}
@media (max-width: 960px) {
  body {
    width: 92%;
  }
}
@media (max-width: 640px) {
  body {
    width: 100%;
  }
}
.header,
.header__logoandmenu,
.header-nav,
.header-contacts,
.header-contacts__network {
  display: flex;
}

.header {
  margin-top: 61px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-logo {
  width: 165px;
  margin-right: 27px;
}

.header-logo__sublogo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 121.9%;
  margin-top: 10px;
}

.header-nav__block {
  width: 34.9vw;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
}

.menu-point {
  display: flex;
  height: 20px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
}
.menu-point:hover {
  border-bottom: 1px solid rgb(228, 229, 234);
}

.header-nav__small-point {
  display: none;
}

.header-bg-circle1 {
  content: "";
  position: absolute;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 0;
  left: 33%;
  top: 30%;
}

.header-bg-circle2 {
  content: "";
  position: absolute;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
  z-index: 0;
  left: 33%;
  bottom: 20%;
}

.header-bg-circle3 {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 0;
  left: 62%;
  bottom: 90%;
}

.header-contacts {
  height: 60px;
}

.header-contacts__network {
  width: 116px;
  justify-content: space-between;
  margin-left: 18px;
}
.header-contacts__network .header-logo__img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .header-nav__block {
    width: 39vw;
  }
  .header-contacts {
    flex-direction: column;
  }
  .header-contacts .header-contacts__network {
    width: 140px;
    margin: 10px 0 0 0;
  }
  .header-bg-circle1 {
    left: 37%;
    top: 30%;
  }
  .header-bg-circle3 {
    left: 69%;
    bottom: 90%;
  }
}
@media (max-width: 960px) {
  .header-nav__block {
    width: 62vw;
  }
  .header-contacts {
    display: none;
  }
  .header-bg-circle1 {
    left: 50%;
    top: 30%;
  }
  .header-bg-circle3 {
    left: 90%;
    bottom: 90%;
  }
}
@media (max-width: 640px) {
  .header {
    margin-top: 0;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
  }
  .header-logo,
  .header-nav__point {
    display: none;
  }
  .header-nav__block {
    width: 90vw;
    font-size: 10px;
  }
  .header-nav__small-point {
    display: block;
    cursor: pointer;
  }
  .header-nav__small-point:hover {
    border-bottom: 1px solid rgb(228, 229, 234);
  }
  .header-bg-circle1,
  .header-bg-circle2,
  .header-bg-circle3 {
    display: none;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}

.main-slogan__title {
  font-size: calc(36px + 12 * ((100vw - 320px) / 1120));
  line-height: 121%;
}

.main-slogan__title {
  width: 362px;
}

.main-slogan__title-span {
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-slogan__subtitle {
  width: 275px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 122%;
  margin-top: 30px;
}

.main-advantage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-advantage__title {
  width: 291px;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  padding-top: 15px;
  text-align: end;
}

.main-advantage__title-span {
  text-transform: uppercase;
  background: linear-gradient(92deg, rgb(252, 176, 69) 1%, rgb(253, 29, 29) 30%, rgb(253, 29, 29) 43.6%, rgb(252, 176, 69) 44%, rgb(253, 29, 29) 130.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  font-weight: 700;
}

.advantage-points {
  width: 291px;
  display: flex;
  flex-wrap: wrap;
  text-align: end;
  margin-top: 40px;
}

.advantage-points__point {
  flex: 2 50%;
}
.advantage-points__point:nth-child(n+3) {
  margin-top: 30px;
}

.main-smalladvantages {
  display: none;
}

.main-advantage__point-title {
  font-weight: 500;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  letter-spacing: 1px;
}

.main-advantage__point-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  line-height: 122%;
}

.main-advantage__btn {
  font-weight: 500;
  font-size: 16px;
  width: 262px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 119, 243);
  margin-top: 61px;
  cursor: pointer;
}
.main-advantage__btn:hover {
  animation: pulses 2s infinite;
}
@keyframes pulses {
  0% {
    box-shadow: 0 0 0 0 rgb(64, 119, 243);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.main-advantage__btn:active {
  background-color: rgb(18, 54, 137);
}

.main-sm-circle5 {
  content: "";
  position: absolute;
  width: 311px;
  height: 311px;
  background: rgb(150, 26, 26);
  opacity: 0.5;
  filter: blur(196px);
  z-index: -1;
  left: -15%;
  top: 30%;
}

.main-bg-circle4 {
  content: "";
  position: absolute;
  width: 24px;
  height: 28px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  z-index: 0;
  left: 58.5%;
}

@media (max-width: 960px) {
  .main-slogan__title {
    width: 47vw;
  }
  .advantage-points {
    width: 35vw;
  }
  .main-bg-circle4 {
    left: 48.5%;
  }
}
@media (max-width: 640px) {
  .main {
    margin: 40px 0px 0px 15px;
    flex-direction: column;
  }
  .advantage-points,
  .main-advantage__btn {
    display: none;
  }
  .main-advantage {
    align-items: flex-start;
  }
  .main-advantage__title {
    text-align: start;
    padding: 45px 0px 20px 0px;
  }
  .main-smalladvantages {
    display: flex;
    padding-bottom: 25px;
  }
  .main-smalladvantages__title {
    font-size: 13px;
    margin-left: 15px;
  }
  .main-smalladvantages__container2 {
    margin-left: 10px;
  }
  .main-smalladvantages__container1,
  .main-smalladvantages__container2 {
    list-style: none;
  }
  .main-smalladvantages__title {
    background: url(../img/Line.png) no-repeat 7px 7px transparent;
    margin: 0;
    padding: 0px 0px 1px 24px;
    vertical-align: middle;
  }
  .main-bg-circle4 {
    display: none;
  }
  .main-sm-circle1 {
    content: "";
    position: absolute;
    width: 259px;
    height: 259px;
    border-radius: 50%;
    background: rgb(131, 58, 180);
    opacity: 0.5;
    filter: blur(196px);
    z-index: -1;
    right: 0%;
  }
  .main-sm-circle2 {
    content: "";
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: radial-gradient(rgb(214, 196, 226) 50%, rgb(131, 58, 180));
    filter: blur(15px);
    z-index: -1;
    right: 0%;
  }
  .main-sm-circle3 {
    content: "";
    position: absolute;
    width: 259px;
    height: 259px;
    border-radius: 50%;
    background: rgb(150, 26, 26);
    opacity: 0.5;
    filter: blur(196px);
    z-index: -1;
    left: 0%;
  }
  .main-sm-circle4 {
    content: "";
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(5px);
    z-index: -1;
    left: 5%;
  }
  .main-sm-circle5 {
    position: absolute;
    width: 59px;
    height: 159px;
    background: rgb(228, 229, 234);
    opacity: 0.5;
    filter: blur(96px);
    z-index: -1;
    left: 0%;
    top: 0%;
  }
}
.footer,
.footer__about-menu,
.footer-about,
.footer-menu__bloks,
.footer__contacts-confed {
  display: flex;
}

.footer {
  height: 260px;
  margin-top: 104px;
  align-items: center;
  justify-content: space-between;
}

.footer__about-menu {
  width: 701px;
  justify-content: space-between;
}

.footer-about,
.footer-contacts,
.footer__contacts-confed {
  flex-direction: column;
}

.footer-about__title,
.footer-menu__title,
.footer-contacts__title {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
  font-weight: 700;
  font-size: 14px;
  color: rgb(101, 101, 102);
  padding-bottom: 20px;
}

.point-footer {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  padding-top: 10px;
  cursor: pointer;
}
.point-footer:first-child {
  padding: 0;
}
.point-footer:hover {
  font-size: calc(15px + 2 * ((100vw - 320px) / 1120));
}

.point-paddingsmall {
  padding: 0;
}

.point-smallfooter {
  display: none;
}

.footer-menu__bloks {
  width: 408px;
  justify-content: space-between;
}

.footer__contacts-confed {
  height: 240px;
  justify-content: space-between;
  text-align: end;
  cursor: pointer;
}

.footer-contacts__network {
  padding: 24px 0px 22px 0px;
}
.footer-contacts__network .footer-contacts__img {
  padding-right: 14px;
  cursor: pointer;
}
.footer-contacts__network .footer-contacts__img:last-child {
  padding: 0;
}

.footer-confed {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.footer-confed__politics {
  width: 190px;
  margin-left: 90px;
  border-bottom: 1px solid rgb(228, 229, 234);
}

@media (max-width: 1100px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer__about-menu {
    width: 100%;
  }
  .footer__contacts-confed {
    text-align: start;
  }
  .footer-about {
    margin-bottom: 30px;
  }
  .footer-confed__politics {
    margin-left: 0px;
  }
}
@media (max-width: 640px) {
  .footer {
    padding-left: 15px;
    height: 615px;
    background-color: #1E1E1E;
    margin-top: 34px;
  }
  .footer__about-menu {
    flex-wrap: wrap;
  }
  .footer-menu {
    margin-bottom: 30px;
  }
  .footer-menu__bloks {
    width: 89vw;
  }
  .footer-menu__blok1 {
    margin-right: 48px;
  }
  .point-smallfooter {
    display: block;
  }
  .point-smallfooter2 {
    display: none;
  }
  .footer__contacts-confed {
    height: 198px;
  }
  .footer-contacts__network {
    padding: 10px 0px 12px 0px;
  }
}/*# sourceMappingURL=Base.css.map */